@(title: String, team: models.teams.Team, commentForm: Form[views.formdata.CommentForm], comments: List[Comment], loggedIn: Boolean)

@import helper._
@import bootstrap3._

@Main(title + team.getTeamName(), loggedIn) {
    <div class="container">
    <div class="well">
   <h4>@team.getTeamName()</h4>
      <div class="row">
      <div class="col-md-3 hidden-xs">
      <ul class="nav nav-tabs nav-stacked" data-tabs="tabs">
         <li class="active"><a href="#stats" data-toggle="tab">Stats</a></li>
         <li><a href="#profiles" data-toggle="tab">Roster</a></li>
         <li><a href="#media" data-toggle="tab">Media</a></li>
         <li><a href="#reviews" data-toggle="tab">Comments</a></li>
      </ul>
      </div>
      
       <div class="col-md-3 visible-xs">
      <ul class="nav nav-tabs" data-tabs="tabs">
         <li class="active"><a href="#stats" data-toggle="tab">Stats</a></li>
         <li><a href="#profiles" data-toggle="tab">Roster</a></li>
         <li><a href="#media" data-toggle="tab">Media</a></li>
         <li><a href="#reviews" data-toggle="tab">Comments</a></li>
      </ul>
      </div>
      
      <div class="col-md-9">
      <div class="tab-content">
            <div class="tab-pane fade in active" id="stats">
               <img src="img/no-available-image.png" height="40%" width="40%">
               <h4>Standings & Stats: </h4>
                  <i>Record: </i>14-10</br>
                     40% 3pts  <br>
                     85% 2pts  <br>
                     90% 1pt  <br>
                     98 rebounds  <br>
                     56 steals  <br>
                     43 blocks  <br>
            </div>
            <div class="tab-pane fade" id="profiles">
               <h4>Player Profiles: </h4>
                  <ul>
                    @for(player <- team.getRosterList()) {
                        <li><a href="#player">@player</a></li>
                    }
                  </ul>
            </div>
            
 <div id="player" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">"Player Name"</h4>
      </div>
      <div class="modal-body">
      <div class="row">
      <div class="col-md-4">
          <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>

                <br>
                 <img src="img/no-available-image.png" height="100%" width="100%">
                 </div>
                 <div class="col-md-8">
                <h4>Awards & Stats: </h4>
                11 ppg <br>
                20% 3pts  <br>
                70% 2pts  <br>
                10% 1pt  <br>
                5 rebounds  <br>
                0 steals  <br>
                4 blocks  <br>

                <br>
                </div>
                </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <a href="#" type="button" class="btn btn-success">See Full Profile</a>
      </div>
    </div>
  </div>
</div>
            
            <div class="tab-pane fade" id="media">
               <h4>Pictures and Videos</h4>
                There are no images or videos for this team.</br>
                </br>
                </br>
                <a href="#">Add Pictures or Videos of this team</a>
            </div>
            <div class="tab-pane fade" id="reviews">
               <h4>Comments about This Team: </h4>
                  @for(comment <- comments) {
                    <div class="well">
                        <li>@comment.getAuthor()</li>
                       <p>@comment.getComment()</p>
                       <div class="pull-right">@comment.getDate()</div>
                    </div>
                 }
                  
                  </br>
                  </br>
                  <hr>
                  
              
              @form(routes.Teams.postComment(team.getTeamName()), 'class -> "form-horizontal") {
                
                @bootstrap3.textarea(commentForm("comment"),
                    rows = "6",
                    label = "Leave a Comment",
                    placeholder = "",
                    help = "")
              
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button id="submitButton" type="submit" class="btn btn-primary">
                        Add Comment
                        </button>
                        </div>
                    </div>    
              
              }
              </div>
         </div>
      </div>
    </div>
    </div>
    </div>
}
