@(title: String, team: models.teams.Team)

@Main(title + team.getTeamName()) {
    
    <div class="well">
   <h4>@team.getTeamName()</h4>
      <div class="row">
      <div class="col-md-3 hidden-xs">
      <ul class="nav nav-tabs nav-stacked" data-tabs="tabs">
         <li class="active"><a href="#stats" data-toggle="tab">Stats</a></li>
         <li><a href="#profiles" data-toggle="tab">Roster</a></li>
         <li><a href="#media" data-toggle="tab">Media</a></li>
         <li><a href="#reviews" data-toggle="tab">Comments</a></li>
      </ul>
      </div>
      
       <div class="col-md-3 visible-xs">
      <ul class="nav nav-tabs" data-tabs="tabs">
         <li class="active"><a href="#stats" data-toggle="tab">Stats</a></li>
         <li><a href="#profiles" data-toggle="tab">Roster</a></li>
         <li><a href="#media" data-toggle="tab">Media</a></li>
         <li><a href="#reviews" data-toggle="tab">Comments</a></li>
      </ul>
      </div>
      
      <div class="col-md-9">
      <div class="tab-content">
            <div class="tab-pane fade in active" id="stats">
               <img src="img/no-available-image.png" height="40%" width="40%">
               <h4>Quick Information: </h4>
                 
                 Location: @team.getLocation()</br>
                 Type: @team.getGender()</br>
                 Skill Level: @team.getSklLvl()</br>
                 Description: @team.getDescription()</br>
            </div>
            <div class="tab-pane fade" id="profiles">
               <h4>Player Profiles: </h4>
                  @for(player <- team.getListPlayers()) {
                    <li><a href="#">@player</a>
                  }
            </div>
            

            
            <div class="tab-pane fade" id="media">
               <h4>Pictures and Videos</h4>
                There are no images or videos for this team.</br>
                </br>
                </br>
                <a href="#">Add Pictures or Videos of this team</a>
            </div>
            <div class="tab-pane fade" id="reviews">
               <h4>Comments about This Team: </h4>
                  <li>Really Good.</li>
                  <li>Competitive.</li>
                  
                  </br>
                  </br>
                  <hr>
                  <label class="control-label">Add a comment: </label>
                    
                        <textarea class="form-control"
                                    rows="5" 
                                    placeholder="Comments about this team."></textarea>
                    
                     <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-2">
                     </br>
                    <button type="submit" class="btn btn-default">Add Comment</button>
                 </div>  
              </div>
            </div>
         </div>
      </div>
    </div>
    </div>
    
}
