@(title: String, isLoggedIn: Boolean) 

@Main(title, isLoggedIn) {
<div class="container">
<h2>About Us</h2>
  <p>Created by students at the University of Hawaii for local players.</p>
  

  <p>Hawaii Hoops Network isn't one of those mainland websites that tries to cater to basketball
    players on the islands. Hawaii Hoops Network was created by a group of local students who have a passion for amateur
    basketball.</p>
  <p>Hawaii Hoops Network's mission is to connect all basketball players, teams, and leagues on the island of Oahu!
    Get information on leagues, open gyms, pick up games, and network with players and teams in your area! Register for
    leagues online. #MOVE</p>
    </div>
}