@(currentPage: com.avaje.ebean.Page[Player], title: String, searchForm: Form[views.formdata.SearchFormData],
  field: String, searchWord: String, isLoggedIn: Boolean, user: User)

@import helper._
@import bootstrap3._

@Main(title, isLoggedIn) {
    <div class="container">

    <div class="well">

    <div class="row-search hidden-xs">
        
        <div class="col-md-4">
        @form(routes.Players.playerNameSearch(), 'class -> "form-horizontal"){
          <div class="input-group">
            @simpleText(searchForm("name"),
                  placeholder="Search by name",
                  label="",
                  help="")
            <span class="input-group-btn">
              <div class="form-group">
                <button id="submitButton" type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
              </div>
            </span>  
            
          </div>
          <!-- /input-group -->
        }
        </div>
        <!-- /.col-lg-6 -->
        
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Skill Level<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Players.playerSearch("skill", "Beginner", "name asc", 0)">Beginner</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "Intermediate", "name asc", 0)">Intermediate</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "Competitive", "name asc", 0)">Competitive</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "College", "name asc", 0)">College</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Players.players("name asc", 0)">All</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Position<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Players.playerSearch("position", "Point Gaurd", "name asc", 0)">Point Gaurd</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Shooting Gaurd", "name asc", 0)">Shooting Gaurd</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Center", "name asc", 0)">Center</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Power Forward", "name asc", 0)">Power Forward</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Small Forward", "name asc", 0)">Small Forward</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Players.players("name asc", 0)">All</a></li>
            </ul>
        </div>
        
        
    </div>

    <div class="row-search visible-xs">

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Skill Level<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Players.playerSearch("skill", "Beginner", "name asc", 0)">Beginner</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "Intermediate", "name asc", 0)">Intermediate</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "Competitive", "name asc", 0)">Competitive</a></li>
                <li><a href="@routes.Players.playerSearch("skill", "College", "name asc", 0)">College</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Players.players("name asc", 0)">All</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Position<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="@routes.Players.playerSearch("position", "Point Gaurd", "name asc", 0)">Point Gaurd</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Shooting Gaurd", "name asc", 0)">Shooting Gaurd</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Center", "name asc", 0)">Center</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Power Forward", "name asc", 0)">Power Forward</a></li>
                <li><a href="@routes.Players.playerSearch("position", "Small Forward", "name asc", 0)">Small Forward</a></li>
                <li class="divider"></li>
                <li><a href="@routes.Players.players("name asc", 0)">All</a></li>
            </ul>
        </div>

        <a href="players/shayne.html" class="btn btn-primary pull-right active" role="button">Your Profile</a>

    </div>
    <hr>
    <!-- Rows are clickable -->
    <table class="table table-striped table-hover">
    
        <thead>
        @if(field == "none") {
        <tr>
            <th><a id="playersSortByName" href="@routes.Players.players("name asc", currentPage.getPageIndex)">Name</a></th>
            <th><a id="playersSortByName" href="@routes.Players.players("homeCourt asc", currentPage.getPageIndex)">Court</a></th>
            <th><a id="playersSortByName" href="@routes.Players.players("skill asc", currentPage.getPageIndex)">Skill Level</a></th>
            <th><a id="playersSortByName" href="@routes.Players.players("position asc", currentPage.getPageIndex)">Position</a></th>
        </tr>
        } else {
        <tr>
            <th><a id="playersSortByName" href="@routes.Players.playerSearch(field, searchWord, "name asc", currentPage.getPageIndex)">Name</a></th>
            <th><a id="playersSortByName" href="@routes.Players.playerSearch(field, searchWord, "homeCourt asc", currentPage.getPageIndex)">Court</a></th>
            <th><a id="playersSortByName" href="@routes.Players.playerSearch(field, searchWord, "skill asc", currentPage.getPageIndex)">Skill Level</a></th>
            <th><a id="playersSortByName" href="@routes.Players.playerSearch(field, searchWord, "position asc", currentPage.getPageIndex)">Position</a></th>
        </tr>
        }
        </thead>
        
        <tbody data-link="row" class="rowlink">
        @for(player <- currentPage.getList()){
            <tr>
                <td><a id="noColor" href="@routes.Players.playerProfile(player.getId())">@player.getUser.getName()</a></td>
                <td>@player.getHomeCourt()</td>
                <td>@player.getSkill()</td>
                <td>@player.getPosition()</td>
                
            </tr>
        }
        </tbody>
        
    </table>
    
        <div id="pagination" class="pagination">
          <ul class="pagination">
            @if(currentPage.hasPrev) {
                <li class="prev">
                <a href="@routes.Players.players("name asc", currentPage.getPageIndex-1)">&laquo;</a>
                </li>
            } else {
                <li class="prev disabled">
                    <a>&laquo;</a>
                </li>
            }
            @for(index <- 0 until currentPage.getTotalPageCount()) {
                <li class="current">
                @if(field == "none") {
                  <a href="@routes.Players.players("name asc", index)">@(index+1)</a>
                } else {
                  <a href="@routes.Players.playerSearch(field, searchWord, "name asc", index)">@index</a>
                }
                </li>
            }
            @if(currentPage.hasNext) {
                <li class="next">
                  <a href="@routes.Players.players("name asc", currentPage.getPageIndex+1)">&raquo;</a>
                </li>
            } else {
                <li class="next disabled">
                    <a> &raquo;</a>
                </li>
            }
          </ul>
        </div>
    
    </div>
</div>
}