.img-one{
  width: 100px;
}

div.title {
    font: x-large Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    height: 40px;
    background-color: white;
    color: black;
    }
/* Styling for the footer */
div.footer {
    font: small Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    }
/* Styling for the overall table */
table {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    }
/* Styling for the column headers (days of the week) */
th {
    padding: 0 0.5em;
    text-align: center;
    background-color:gray;
    color:white;
    }
/* Styling for the individual cells (days) */
td  {     
    font-size: medium;
    padding: 0.25em 0.25em;   
    width: 14%; 
    height: 80px;
    text-align: left;
    vertical-align: top;
    }
/* Styling for the date numbers */
.date  {     
    font-size: large;
    padding: 0.25em 0.25em;   
    text-align: left;
    vertical-align: top;
    }
/* Class for individual days (coming in future release) */
.sun {
     color:red;
     }
/* Hide the month element (coming in future release) */
th.month {
    visibility: hidden;
    display:none;
    }

#footer {
  margin-bottom: 40px;
}

h100 {
  margin-right: 20px;
}

.header-image {
    background-image: url(images/HawaiiHoopsNetworkLogo.jpg);
    background-repeat: no-repeat;
    height: 174px;
}

.form-control2 {
    margin-top: 10px;
    width: 140px;
}

.loginWidget {
    width: 200px;
}

h101 {
    font-size: 12px;
    margin-left: 20px;
}

.loginButton {
    margin-left: 900px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #DD4814;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #DD4814;
}

.footer {
    padding-bottom: 40px;
}

.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.profilepic {
    height: 174px;
    width: 164px;
}

.navbar-inverse {
    background-color: #F77E07;
    border-color: #F77E07;
}

.well {
    border-color: #F77E07;
    background-color: #FFFAF5;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    color: #F77E07;
}

.row-search {
    margin-left: 10px;
    margin-right: 10px;
}

#noColor {
    color: black;
}

#day {
    margin-right: 6px;
}

#Pics {
    margin: auto;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
    height: 300px
}

span:hover{
    color: #F77E07;
}