
@(title: String, court: Court, nearby: List[Court], reviews: List[Review], players: List[Player], isLoggedIn: Boolean)

@import courts.CourtMain

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/court.css")"/>
}

@CourtMain(title, court, nearby, reviews, players, isLoggedIn, scripts) {

                <img src="http://maps.googleapis.com/maps/api/staticmap?center=@court.getAddress.getLat,@court.getAddress.getLng&markers=size:mid%7Ccolor:red%7C@court.getAddress.getLat,@court.getAddress.getLng&zoom=12&size=400x100&scale=2&sensor=false" width="100%"/>
                <a href="#">view map</a>

                <h3>Court Information</h3>

                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <strong>Lighted: </strong>
                             @court.isLighted
                        </div>

                        <div class="courtInfo">
                            <strong>Public/Private:</strong>
                             @court.getType
                        </div>

                        <div class="courtInfo">
                            <strong>Indoor/Outdoor: </strong>
                             @court.getIndoor
                        </div>

                        <div class="courtInfo">
                            <strong>Number of Courts: </strong>
                            @court.getNum_courts
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div>
                            <strong>Quality: </strong>
                            @court.getCourt_quality
                        </div>

                        <div class="courtInfo">
                            <strong>Size: </strong>
                            @court.getCourt_size
                        </div>

                        <div class="courtInfo">
                            <strong>Surface: </strong>
                            @court.getCourt_surface
                        </div>

                    </div>
                </div>

                <h3>Open Hours</h3>


                <h3>Description</h3>
                <p>@court.getDescription</p>

}
