@(title: String, games: List[models.games.Game], searchForm: Form[views.formdata.games.SearchSortGames], isLoggedIn: Boolean)

@import helper._
@import bootstrap3._


@Main(title, isLoggedIn) {
<div class="container">
  <div class="well">
  
    <div class="row-search hidden-xs">
    <div class="col-md-4">
          @form(routes.Games.searchResults(), 'class -> "form-horizontal") { 
          <div class="input-group">
              @simpleText(searchForm("search"),
                  placeholder="Search by Name or Location", 
                  label = "", help = "")
              <span class="input-group-btn">
              <div class="form-group">
                  <button type="submit" id="submitButton" class="btn btn-primary glyphicon glyphicon-search"></button>
              </div>
              </span>
          </div>
          }
    </div>
    
    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
        Sort By<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="@routes.Games.sortByLocation()">Location</a></li>
        <li><a href="@routes.Games.sortBySkillLevel()">Skill Level</a></li>
      </ul>
    </div>
    
    <a href="@routes.Games.createGame()" class="btn btn-primary btn-md pull-right" role="button">Create a Game</a> </br>
    
    </div>
    
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th>Type</th>
          <!-- <th class="hidden-xs">Frequency</th> -->
          <th class="hidden-xs">Skill Level</th>
          <th class="hidden-xs">Number of Players</th>
        </tr>
      </thead>
      <tbody data-link="row" class="rowlink">
        @for(game <- games) {
        <tr>
          <td><a id="noColor" href="@routes.Games.getGame(game.getName())">@game.getDate()</a></td>
          <td>@*game.getTime()*@</td>
          <td>@game.getLocation()</td>
          <td>@game.getType()</td>
          <!--  <td class="hidden-xs">@game.getFrequency()</td> -->
          <td class="hidden-xs">@game.getAvgSklLvl()</td>
          <td class="hidden-xs">@game.getListPlayers().size()</td>
        </tr>
        }
      </tbody>
    </table>
    </div>
    </div>
}