@(title: String, player: Player, user: User, isLoggedIn: Boolean)

@scripts = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index.css")">
}

@Main(title, isLoggedIn, scripts) {
   
   
   @if(isLoggedIn) {
   <div class="row odd">
       <br>
       <br>
       <br>
       <br>
       
       <h1 class="validateTitle">Congratulations on Registering!</h1>
       <div class="row">
         <div class="col-md-12">
            @if(isLoggedIn){
                @if(user.getId() == player.getId()) {
                    <br>
                    <a href="@routes.Players.playerEdit(player.getId())" class="btn btn-primary btn-lg" role="button">
                    <span class="glyphicon glyphicon-user"></span>  Edit your profile @Secured.getUserInfo(ctx()).getName
                    </a>
                }
            }
         </div>
       </div>
       <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8">
            <h3>Before you begin, fill in your profile!   Having a full profile allows others a better understanding of who you are and your skill level.   
            You can also visit your profile later to update any information.   Once your profile is filled out, check out courts, games
            , leagues, players, and teams!
            </h3>
         </div>
         <div class="col-md-2"></div>
       </div>
       
       <br>
       <br>
       <br>
       <br>
       
   </div>
   } else {
       <p>An error occurred. Please register again.</p>
   }
}
