@(title: String, games: List[models.games.Game], isLoggedIn: Boolean)

@import utils.Tags._

@Main(title, isLoggedIn) {
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <button type="button" class="btn btn-default btn-sm" href="@routes.Games.createGame()">Create Game</button>
                <h4>Upcoming Games</h4>
                  <table class="table table-striped table-hover">
                    <thead>
                    </thead>
                    <tbody data-link="row" class="rowlink">
                      @for(game <- games) {
                      <tr>
                        <td><a id="noColor" href="@routes.Games.getGame(game.getId, slugify(game.getName()))">@game.getName()</a></td>
                      </tr>
                      }
                    </tbody>
                  </table>
      </div>
        </div>
        <div class="col-md-6 hidden-xs">
            <div class="well">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="@routes.Assets.at("images/HawaiiHoopsNetworkLogo.jpg")" alt="..."
                      height="500" width="450px">
                    <div class="carousel-caption"></div>
                  </div>
                  <div class="item">
                    <img src="http://img.groundspeak.com/waymarking/display/3fec022a-8674-4339-a8e5-ced0e26aec21.JPG"
                      alt="..." height="500" width="450px">
                    <div class="carousel-caption">For Hawaii Hoopers</div>
                  </div>
                  <div class="item">
                    <img
                      src="http://taylorak.files.wordpress.com/2013/11/succeed.jpg?w=576&h=384"
                      alt="..." height="500" width="450px">
                    <div class="carousel-caption">Meet our team</div>
                  </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span
                  class="glyphicon glyphicon-chevron-left"></span>
                </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span
                  class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well">
                <h4>Events</h4>
                <ul class="list">
                    <li><a href="#">Sports Authority Shootout</a></li>
                    <li><a href="#">UH Manoa Pick up Game</a></li>
                    <li><a href="#">Nike Tournament</a></li>
                    <li><a href="#">FedEx vs UPS Shootout</a></li>
                    <li><a href="#">98.5 Shootout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
